<p>56 ans, père de famille de 3 enfants. Conseil en communication et innovation.
Outre mon engagement pour l'IndieWeb, mes passions évoluent autour du design social, de la navigation hauturière et de la photo.</p>

<p>Vous pouvez me suivre sur <a href="https://soc.ialis.me/@tof">Mastodon</a>, <a rel="me" class="h-card" href="micro.blog/xtof">micro.blog</a>, <a rel="me" class="h-card" href="https://github.com/ChristopheDucamp">GitHub</a>, <a rel="me" class="h-card" href="https://twitter.com/xtof_party">Twitter</a></p>
